.delivery-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 0.5s;
}

.price {
  flex-grow: 0.33;
}

.description {
  width: 100%;
}

.discount {
  flex-grow: 0.66;
}

.product-card {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.site,
.login-navbar {
  display: none;
}

.description-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  border-top: 1px solid #ebebeb;
}

.checkbox-input {
  margin-left: 16px;
  margin-right: 16px;
}

.button-primary,
.button-primary-register,
.button-gray {
  background-color: #1259c3;
  color: white;
  width: 100px;
  display: block;
  border-radius: 10px;
  margin-top: 20px;
  justify-content: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button-gray {
  background-color: #666;
}

.radio-list {
  display: flex;
  justify-content: space-around;
}

.input-box {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-box-picture {
  width: 100%;
  margin-top: 20px;

  ;
}

.checkbox-input {
  margin-left: 16px;
  margin-right: 16px;
}

.form-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

}

#search {
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
}

.categories {
  display: block;
}

.searcher {
  width: 50%;
  padding: 6px;
  position: relative;
}

.button-search {
  position: absolute;
  right: 10px;
  border-radius: 5px;
  border: none;
  color: #666;
  background-color: white;
  top: 9px;

}
h1.logo{
  width: 50%;
}
p.head {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* tablet */

@media (min-width: 480px) {
  .product-card {
    width: calc(50% - 16px);
  }

  #confirmPassword,
  #password {
    width: 100%;

  }

  .form-format .input-box {
    width: 75%;
    margin-top: 20px;
  }

  .fa-hand-holding-usd {
    margin-left: 7px;
  }

  ul.modFoot {
    flex-direction: row;
  }
}

/* laptop */
@media (min-width: 768px) {
  .categories {
    display: flex;
  }

  .product-card {
    box-shadow: none;
    width: calc(25% - 16px);
  }

  .product-card .description {
    display: none;
  }

  .product-card:hover .description {
    display: block;
    /* Va encima de la product card porque la descripcion no se ve*/
  }

  .product-card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .burger-menu {
    display: none;
  }

  .delivery-icon:hover {
    transform: rotate(-90deg);
  }

  .icono-fotter:hover {
    color: #39b54a;

  }

  .button-primary:hover {
    background-color: #0022AA;

  }

  .bottom-header {
    display: flex;
    justify-content: space-between;
  }

  .site,
  .login-navbar {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    padding-top: 20px;

  }

  .header-menu {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0.5;
    padding-bottom: 20px;

  }

  h1.logo{
    width: 33%;
  }

  form.searcher,
  p.head {

    width: 33%;

  }

  form.searcher {
    padding-left: 10px;
  }


}