.delivery-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: transform 0.5s;
}

.price {
  flex-grow: 0.33;
}

.description {
  width: 100%;
}

.discount {
  flex-grow: 0.66;
}

.product-card {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
}

.site,
.login-navbar {
  display: none;
}

.description-box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  border-top: 1px solid #ebebeb;
}

.checkbox-input {
  margin-left: 16px;
  margin-right: 16px;
}

.button-primary {
  background-color: #1259c3;
  color: white;
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 20px;
}

.button-gray {
  background-color: #666;
  color: white;
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-top: 20px;
}

.radio-list {
  display: flex;
  justify-content: space-around;
}

.input-box {
  display: flex;
  justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkbox-input {
  margin-left: 16px;
  margin-right: 16px;
}

.form-format {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#search {
  width: 100%;
  font-size: 15px;
  border-radius: 6px;
}

.searcher {
  width: 50%;
  padding: 6px;
  position: relative;
}

.button-search {
  position: absolute;
  right: 10px;
  border-radius: 5px;
  border: none;
  color: #666;
  background-color: white;
  top: 9px;

}


/* tablet */

@media (min-width: 480px) {
  .product-card {
    width: calc(50% - 16px);
  }

  .form-format .input-box {
    width: 50%;
    margin-top: 20px;
 
   
  }

  #confirmPassword,#password{ 
    width: 100%;
  }

  .button-gray,
  .button-primary {
    font-size: 20px;
  }
.fas fa-hand-holding-usd{
    margin-left: 7px;
  }
}

/* laptop */
@media (min-width: 768px) {

  .product-card {
    box-shadow: none;
    width: calc(25% - 16px);
  }

  .product-card .description {
    display: none;
  }

  .product-card:hover .description {
    display: block;
    /* Va encima de la product card porque la descripcion no se ve*/
  }

  .product-card:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .site,
  .login-navbar {
    display: block;

  }

  .burger-menu {
    display: none;
  }

  .delivery-icon:hover {
    transform: rotate(-90deg);
  }

  .icono-fotter:hover {
    color: #39b54a;

  }

  .bottom-header {
    display: flex;
    justify-content: space-between;
  }

  .site,
  .login-navbar {
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    padding-top: 20px;

  }

  .header-menu {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 0.5;
    padding-bottom: 20px;
    
  }

  img.logo,
  form.searcher,
  p.head {

    width: 33%;
   
  }
  form.searcher {
    padding-left: 10px;
  }

  .button-search {
    color: black;
    top: initial;
    right: initial;
    border: revert;
  }
  .form-format .input-box {
    width: 50%;
    margin-top: 20px;

  
  }
}